<template>
  <b-card-code
    title="Listado de Clientes"
    no-body
  >
    <b-table
      responsive
      :items="items"
      :fields="fields"
      class="mb-0"
    >
      <template #cell(Phone)="data">
        <span class="text-nowrap">
          {{ data.value }}
        </span>
      </template>

      <!-- Optional default data cell scoped slot -->
      <template #cell()="data">
        {{ data.value }}
      </template>
    </b-table>

    <template #code>
      {{ codeResponsive }}
    </template>
  </b-card-code>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import { BTable } from 'bootstrap-vue'
import { codeResponsive } from './code'
import axios from '@axios'

export default {
  components: {
    BCardCode,
    BTable,
  },
  data() {
    return {
      fields: [
        'id',
        {
          key: 'name', label: 'Nombre Completo',
        },
        {
          key: 'institution', label: 'Institucion',
        },
        'ci',
        {
          key: 'email', label: 'Email',
        },
        {
          key: 'address', label: 'Direccion',
        },
        {
          key: 'phone', label: 'Telefono',
        },
      ],
      items: [],
      codeResponsive,
    }
  },
  methods:{
     listar(){
            var url= '/api/client';
            axios.post(url)
            .then(res => {
                console.log(res.data)
                this.items = res.data;     
            })
            .catch(err =>{
                console.log(err);
            }); 
        },
  },
  mounted() {
        this.listar();
    }
}
</script>
